.Sign-up{

    width: 100%;
    max-width:  330px;
    padding: 15px ;
    margin: auto;
    height: 70%
    
}

button{
    background-color: #00BFFF;
    color: white;
    padding: 15px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 70%;
  }
.email{
    width: 100%;
    max-width:  330px;
    padding: 15px ;
    margin: 8px 0;
    height: 100%
}
.password{
    width: 100%;
    max-width:  330px;
    padding: 15px ;
    margin: 8px 0;
    height: 100%
}


.confirm{
    width: 100%;
    max-width:  330px;
    padding: 12px 20px ;
    margin: 8px 0;
    height: 100%
}

.user{
    width: 100%;
    max-width:  330px;
    padding: 12px 20px ;
    margin: 8px 0;
    height: 100%
}